extends ../layout 

block content 

  main(role='main')
    section.jumbotron.text-center
      .container
        h1.jumbotron-heading A shop CMS with React
        p.lead.text-muted
          | A simple CMS created with React, Redux, MongoDB, Express, Node.js and React-Bootstrap
        p
          a.btn.btn-primary.my-2.mr-2(href='/') Buy a Book
          a.btn.btn-secondary.my-2(href='/cart') Your Cart
